<section class=" deep-space white ph3 pv4">

	<div class="mw7 center pt2">

		<div class="measure-narrow center mb5">
			<img src="/img/logo.svg" alt="Sirnarasa" class=" mw5 navbar-brand center img-fluid mb-3">

			<p class="f3 lh-title text-center text-info b tc mb2">Langganan Berita</p>
			<p class="text-center">Dapatkan berita mengagumkan dari kami di inbox Anda setiap dua minggu. Jadilah yang pertama untuk membaca.</p>

			{{ partial "newsletter-form" . }}

		</div>


		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Sirnarasa</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/values" class="link">Tentang</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Kontak</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Pendidikan</h3>
				<ul class="mb3">
					<li><a href="#z" class="link">Madrosah Tsanawiyah</a></li>
					<li><a href="#z" class="link">Madrosah Aliyah</a></li>
					<li><a href="https://www.stidsirnarasa.ac.id" class="link">STID Sirnarasa</a></li>
					<li><a href="#z" class="link">IPWL Inabah 2 Putri</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Baitul Maal</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Zakat</a></li>
					<li><a href="/contact" class="link">Infaq/Shodaqoh</a></li>
				</ul>
			</div>
			<div>
		<h3 class="f4 b lh-title mb1 primary">Terhubung</h3>
		<ul class="mhn2">
			{{ partial "social-icon" (dict "link" "https://www.facebook.com/pasantrensirnarasa" "svg" "facebook") }}
			{{ partial "social-icon" (dict "link" "https://twitter.com/sirnarasa" "svg" "twitter") }}
		</ul>
	</div>

		</div>
	</div>

</section>
<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc"><b class="ttu"><a href="https://www.sirnarasa.org">Sirnarasa</a> 2017 © </b></small>
  <div class="tc mt1">
    
  </div>
</footer>
{{ partial "svg" . }}

<script src="/app.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>

</html>
