<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		
		<title>{{ .Title }} | Sirnarasa.org</title>
		<meta name="description" content="{{ .Description }}">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css"/>
		<link rel="stylesheet" href="/css/bootstrap.css">



		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f2c94c">
		<meta name="apple-mobile-web-app-title" content="Sirnarasa.org">
		<meta name="application-name" content="Sirnarasa.org">
		<meta name="msapplication-TileColor" content="#00a300">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Open Graph -->
		
		<meta property="og:image" content="/og-image.jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="628">
		<meta property="og:description" content="Pengamal Thoriqoh Qodiriyyah wa Naqsabandiyyah Pondok Pesantren Suryalaya.
		Destinasi Wisata Budaya dan Religi - Sirnarasa.">
		<meta property="og:title" content="Pesantren Kajembaran Rohmaniyyah - Sirnarasa.org">
		<meta property="og:url" content="https://www.sirnarasa.org">

	</head>

	<body>
