<div class="pv4 pv7-l ph2 bg-center cover shadow-3" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 text-center text-kuning ph3">
    <div class="db mb3 mark">
      <div class="mw7 relative mb3">
        <h1 class="f1 f1-l b di lh-title mb3 mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative">
        {{ if .subtitle }}
        <p class="b f3 di lh-title mb3 mw6">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
