<div class="martini pv4">
  <div class="flex-l mhn1-l ph3 center mw8">
     <p class="w-100-l mb0 mr3 tr"><span style="font-size:2rem">Bismillahirrohmanirrohim</span><br>Assalamu 'alaikum Wr. Wb.<br>
      Abah menyambut hangat terus diperbaruinya informasi tentang kegiatan Pesantren Kajembaran Rohmaniyyah SIRNARASA di Internet.
      Ini saatnya dan sudah menjadi zamannya menggunakan media internet untuk membewarakan profil, visi, dan misi pendidikan di Pesantren ini. Terimakasih sepenuh langit dan bumi kepada tim yang mempersiapkan dan akan mengelola situs ini. 
      Selain isi, yang harus terus diperbarui adalah penampilan perwajahan dan tata letak yang menghiasi sajian informasi. 
      Tata letak perwajahannya harus bisa menarik minat pengaksesnya untuk membaca hingga tuntas. 
      Keakuratan informasi penting diperhatikan sepenting memilihkan foto-foto yang bisa menampilkan wajah indah Sirnarasa. 
      Abah berharap segenap pengelola web ini menjaga keistiqomahan untuk menampilkan sajian informasi yang baru dan bermanfaat bagi pembaca. 
      Abah ucapkan selamat dan kepada pembaca silakan selamat menyimak. Doa Abah.<br>
    <b>Syeikh Muhammad Abdul Gaos al-Quthub</b><br><small>Sesepuh Pasantren Sirnarasa.</small></p>
    <div class="f2 b lh-title mb2 w-40-l text-center mt4">
    <img class="img-fluid" mw3 src='/img/abah-gaos.jpg' alt='Sesepuh Pasantren Sirnarasa'/>
    </div>
  </div>
</div>
