{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/mekah.jpg" "title" "Tentang Sirnarasa") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Syeikh Muhammad Abdul Gaos al-Quthub" "text" "Tentang Abah Aos..." "imageUrl" "/img/abah-gaos.jpg") }}
        
  {{ partial "media-block-reverse" (dict "heading" "Thoriqoh Qodiriyyah wa Naqsyabandiyyah" "text" "Thoriqoh Qodiriyyah wa Naqsyabandiyyah adalah... " "imageUrl" "/img/mic-ram.jpg") }}        

  {{ partial "media-block" (dict "heading" "Belum ada isi 1" "text" "Belum ada isi..." "imageUrl" "/img/mic-ram.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Belum ada isi 2" "text" "Belum ada isi2 adalah..." "imageUrl" "/img/mic-ram.jpg") }}
 
  {{ partial "media-block" (dict "heading" "                                         Teu acan ka emutan" "text" "Isi sementawis..." "imageUrl" "/img/mic-ram.jpg") }}
</div>

{{ partial "footer" . }}
